@page
@model WebApplication1.Views.Home.DocumentsExampleModel
@{
}

<div>

    <form method="post" action="/Document/postdocument" enctype="multipart/form-data">
        <input type="file" id="fileUpload" name="fileUpload">

        <input type="submit">
        Submit
        </input>
    </form>
</div>

<div>


    <table>
        <thead>
            <tr >
                <th class="table-format">Column 1</th>
                <th class="table-format">Column 2</th>
                <th class="table-format">Column 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 1, Cell 1</td>
                <td>Row 1, Cell 2</td>
                <td>Row 1, Cell 3</td>
            </tr>
            <tr>
                <td>Row 2, Cell 1</td>
                <td>Row 2, Cell 2</td>
                <td>Row 2, Cell 3</td>
            </tr>
            <tr>
                <td>Row 3, Cell 1</td>
                <td>Row 3, Cell 2</td>
                <td>Row 3, Cell 3</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Footer</td>
            </tr>
        </tfoot>
    </table>



</div>