@{
    ViewData["Title"] = "JSON Example";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Input text below to submit some JSON information</a>.</p>

    <form method="post" action="/Home/PostJson">
        <input name="testField1"></input>
        <input name="testField2"></input>
        <input name="testField3"></input>
        <input type="submit">
            Submit
        </input>
    </form>
</div>
